<!DOCTYPE html>
<head>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
  <div class="container">
    <h1>Checkout</h1>
    <hr />

    <div id="checkoutTotal"></div>
    <hr />

    <form enctype="multipart/form-data" id="payForm" name="payForm" action="" method="post">
      <input type="number" name="moneyGiven" />
      <input type="button" class="btn btn-default" value="Pay" id="payBtn" name="submit">
    </form>
    <br />

    <ul class="list-group" id="basketList"></ul>

  </div>
  <script src="./javascripts/checkout.js"></script>
</body>
</html>
